@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photo{
  width: 100%;
  margin-bottom: 30px;
}



h2{
  font-size: 20px;
  font-weight: 900;
  margin: 20px;

}

body{
  background-color: #fefefe;
  
}
.card{
  transition: all 1s ease;
}

.card:hover{
  box-shadow: 0 16px 64px -16px rgba(46,55,77,.44);
  transition: all 1s ease;
}
.card-loader:hover{
  box-shadow: none;
  transition: none;
}
.search{
  border-bottom: 2px solid #efefef;
}
.search .logo{
  fill: #f05537;
  width: 110px;
}
#search-navbar{
  width: 300px;
}
.App{
  background-color: #f9f9f9;
}
.icon{
  text-align: right;
  padding-right: 12px;
  margin-top: -25px;
}
.icon svg{

  display: inline;
  background: #fff;
  padding: 11px 9px;
  height: 45px;
  width: 45px;
  color: #5f5b5b;
  border: 1px solid #c8c2c2;
  border-radius: 50px;

}
.hasicon svg{
  float: left;
  margin-right: 8px;
  margin-top: 4px;
  color: #807c7c;
}



.load-title {
  margin-top: 30px;
  height: 20px;
  background: #e8e7e7;
  width: 95%;
}

.load-text {
  margin-top: 15px;
  height: 18px;
  background: #e8e7e7;
  width: 92%;
}

.load-image {
  height: 150px;
  background: #e8e7e7;
}

.list-container{
  min-height: 100vh;
}


.lds-ring {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #f05537;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f05537 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
.card-loader{
  width: 100%;
}

.login svg{
  margin: 5px 9px 1px 3px;
  float: left;
  background: #fff;
}

nav svg.w-5.h-5 {
  opacity: 0.4;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ticket{
  width: 100% !important;
}
footer li a{
  font-size: 0.8rem;
}
footer li a:hover{
  text-decoration: underline;
}
.bg-blue-1000{
  background-color: #0a153a;
}
.bg-blue-1000 p{
  font-size: 0.7rem;
}
.btn-delete{
  border: 1px solid;
  padding: 8px;
}
.btn-delete:hover{
  color: #fff;
  background-color: red;
}

@media only screen and (max-width: 1024px) {

  .thumb{
    max-height: fit-content;
    min-height: fit-content;
  }

}

@media only screen and (max-width: 768px) {
  .grid{
    justify-items: center;
  }
  

}

@media (min-width: 640px) {
  .scroll-fixed {
    position: sticky;
      top: 0;
      right: 0;
      bottom: 0;
      overflow-y: auto;
      z-index: 50;

  }
}